{{ "<div class=\"govuk-grid-row\">" | safe }}
{{ "  <div class=\"govuk-grid-column-full\">" | safe }}
{{ "    <div style=\"background:#1d70b8; padding:30px;\">" | safe }}
{{ "      <div style=\"display: flex; justify-content: space-between; gap: 20px;\">" | safe }}
{{ "        <!-- Header Section -->" | safe }}
{{ "        <div style=\"display: flex; flex-direction: column; gap: 4px; width: 40%;\" id=\"key\">" | safe }}
{{ "          <span class=\"govuk-caption-m\" style=\"color:white;\">Alpha Heatpumps Limited (BUS1234567) </span>" | safe }}
{{ "          <h1 class=\"govuk-heading-l\" style=\"color:white; margin: 0;\">FA8 8KE <span style=\"font-weight: 100;\">(GID12345678)</span></h1>" | safe }}
{{ "          <span class=\"govuk-body-s\" style=\"color:white;\">100 FAKE STREET, HEADINGTON, OXFORD, FK8 8KE</span>" | safe }}
{{ "        </div>" | safe }}
{{ "" | safe }}
{{ "        <!-- Info Grid -->" | safe }}
{{ "        <div class=\"govuk-caption-m\" style=\"display: flex; gap: 15px; align-items: flex-start; align-self: flex-end;\" id=\"meta\">" | safe }}
{{ "          <div style=\"display: flex; flex-direction: column; min-width: 80px;\">" | safe }}
{{ "            <span style=\"color:white; font-size: 19px; font-weight: bold;\">Project</span>" | safe }}
{{ "            <span style=\"color:white; font-size: 19px;\">Retrofit</span>" | safe }}
{{ "          </div>" | safe }}
{{ "          <div style=\"display: flex; flex-direction: column;  min-width: 120px;\">" | safe }}
{{ "            <span style=\"color:white; font-size: 19px; font-weight: bold;\">Tech</span>" | safe }}
{{ "            <span style=\"color:white; font-size: 19px;\">A2AHP & HB</span>" | safe }}
{{ "          </div>" | safe }}
{{ "          <div style=\"display: flex; flex-direction: column;  min-width: 120px;\">" | safe }}
{{ "            <span style=\"color:white; font-size: 19px; font-weight: bold;\">UPRN</span>" | safe }}
{{ "            <span style=\"color:white; font-size: 19px; text-decoration: none;\">1002404174</span>" | safe }}
{{ "          </div>" | safe }}
{{ "          <div style=\"display: flex; flex-direction: column;  min-width: 250px;\">" | safe }}
{{ "            <span style=\"color:white; font-size: 19px; font-weight: bold;\">EPC</span>" | safe }}
{{ "            <span style=\"color:white; font-size: 19px; text-decoration: none;\">2564-3048-0207-9125-3200</span>" | safe }}
{{ "          </div>" | safe }}
{{ "        </div>" | safe }}
{{ "      </div>" | safe }}
{{ "    </div>" | safe }}
{{ "" | safe }}
{{ "    <!-- Status Tags -->" | safe }}
{{ "    <div style=\"display: flex; gap: 10px; margin-top: 0px; margin-bottom: 10px; background:#FFFFFF; padding:20px; border: 1px solid #1d70b8;\">" | safe }}
{{ "      <span class=\"govuk-tag govuk-tag--blue\" style=\"text-transform: none; max-width: 200px;\">(A) QC</span>" | safe }}
{{ "      <span class=\"govuk-tag govuk-tag--grey\" style=\"text-transform: none; max-width: 200px;\">TPO</span>" | safe }}
{{ "      <span class=\"govuk-tag govuk-tag--grey\" style=\"text-transform: none; max-width: 200px;\">METS</span>" | safe }}
{{ "      <span class=\"govuk-tag govuk-tag--green\" style=\"text-transform: none; max-width: 200px;\">Consent received</span>" | safe }}
{{ "      <span class=\"govuk-tag govuk-tag--grey\" style=\"text-transform: none;\">ID check: Pass</span>" | safe }}
{{ "      <span class=\"govuk-tag govuk-tag--grey\" style=\"text-transform: none;\">EPC check: Pass</span>" | safe }}
{{ "    </div>" | safe }}
{{ "  </div>" | safe }}
{{ "</div>" | safe }} 