{% extends "layouts/main.html" %}

{% set pageName = "Accessibility" %}

{% block content %}

<div class="ofgem-landing">
  <div class="ofgem-landing__intro">
    <h1 class="govuk-heading-xl">Accessibility</h1>

    <p class="govuk-body-l">
      Our work to make the Ofgem Design System meet public sector accessibility regulations
      is a continuous and iterative process.
    </p>

    <p class="govuk-body">
      Using the Ofgem Design System in a service does not immediately make that service
      accessible. You&rsquo;ll need additional research, design, development and testing work
      to make sure your service is accessible, even when using accessible styles, components
      and patterns.
    </p>
  </div>

  <section class="ofgem-landing-section">
    <h2 class="govuk-heading-l">Accessibility strategy</h2>
    <p class="govuk-body">
      Read our accessibility strategy for more information on our current principles and the
      work needed to improve the accessibility of the Ofgem Design System.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Read the Ofgem Design System accessibility strategy</a>
    </p>
  </section>

  <section class="ofgem-landing-section">
    <h2 class="govuk-heading-l">Accessibility statement</h2>
    <p class="govuk-body">
      Our accessibility statement helps not just end users but also service teams to understand
      how accessible Ofgem Frontend, its documentation website and this website are.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Read the Ofgem Design System accessibility statement</a>
    </p>
  </section>

  <section class="ofgem-landing-section ofgem-landing-section--last">
    <h2 class="govuk-heading-l">Accessibility in the Service Manual</h2>
    <p class="govuk-body">
      The accessibility and assisted digital guidance in the GOV.UK Service Manual outlines
      what you need to know and what you need to do to ensure your service is accessible.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/service-manual/helping-people-to-use-your-service">Read accessibility guidance in the Service Manual</a>
    </p>
  </section>
</div>

{% endblock %}
