{% extends "layouts/main.html" %}

{% set pageName = "Get started" %}

{% block content %}

<div class="ofgem-landing">
  <div class="ofgem-landing__intro">
    <h1 class="govuk-heading-xl">Design, build, and deliver accessible and consistent services</h1>

    <p class="govuk-body-l">
      Use the Ofgem Design System alongside the
      <a class="govuk-link" href="https://design-system.service.gov.uk/">GOV.UK Design System</a>
      and
      <a class="govuk-link" href="https://design-patterns.service.justice.gov.uk/">MOJ Design System</a>.
    </p>

    <p class="govuk-body">
      The Ofgem Design System enables teams to avoid repetition by learning from the work
      and experiences of others. By contributing to the Design System you can help others, too.
    </p>
  </div>

  <section class="ofgem-landing-section">
    <h2 class="govuk-heading-l">About the Design System</h2>

    <div class="ofgem-landing-card">
      <h3 class="govuk-heading-m">Benefits of using the Ofgem Design System</h3>
      <p class="govuk-body">
        Learn about how reusing building blocks helps product teams as well as users.
      </p>
      <a class="govuk-link" href="#">Read about the benefits of the Ofgem Design System</a>
    </div>
  </section>

  <section class="ofgem-landing-section ofgem-landing-section--last">
    <h2 class="govuk-heading-l">Prototyping at Ofgem</h2>

    <div class="ofgem-landing-grid ofgem-landing-grid--2">
      <div class="ofgem-landing-card">
        <h3 class="govuk-heading-m">How to set up Figma prototypes</h3>
        <p class="govuk-body">
          Figma Kits help people to create consistent designs. Learn how to use them in your
          design files.
        </p>
        <a class="govuk-link" href="#">How to set up Figma prototypes</a>
      </div>

      <div class="ofgem-landing-card">
        <h3 class="govuk-heading-m">How to set up coded prototypes</h3>
        <p class="govuk-body">
          Learn how to create coded prototypes using the Ofgem Design System and GOV.UK Prototype Kit.
        </p>
        <a class="govuk-link" href="#">How to set up coded prototypes</a>
      </div>
    </div>
  </section>

  </div>

{% endblock %}
