{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-!-margin-top-4"></div>

<div class="govuk-grid-row ">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-margin-top-6">
      Welcome to {{ serviceName }}
    </h1>

    <p class="govuk-body-l">
      This prototype showcases design patterns and components intended for use in Ofgem projects.
      These elements are currently undergoing iterative design and user testing.
    </p>

    <br /><br />


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Components</h3>
        <p class="govuk-body">
          Browse our collection of reusable components. <a href="/components">View components</a>
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li> <a href="/components/header">Ofgem header</a></li>
          <li> <a href="#">Filter</a></li>
          <li> <a href="/components/profile">BUS profile </a></li>

        </ul>
      </div>


    </div>

    <!-- Pages -->
     <!-- 
    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Pages</h3>
        <p class="govuk-body">
          Pages to demo components and patterns. 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li> <a href="/pages/bus">BUS profile, Application and Installer details</a></li>

        </ul>
      </div>


    </div>
    -->

  </div>
</div>
<div class="govuk-!-margin-bottom-9"></div>

{% endblock %}