<!-- Reusable Ofgem Header Component -->
<header class="govuk-header ofgem-header" id="header" role="banner" data-module="govuk-header">
  <div class="govuk-width-container">
    <div class="govuk-header__container" style="border-bottom: none;">
      <div class="govuk-header__logo">
        <img class="companyLogo" data-tenant-branding-logo="true"
          src="https://www.ofgem.gov.uk/themes/custom/numiko/logo.svg"
          alt="Ofgem" width="115" height="44" style="display:block; max-width: 115px;">
      </div>
    </div>
  </div>
</header> 