<!-- Reusable Profile Component -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background:#1d70b8; padding:30px;">
      <div style="display: flex; justify-content: space-between; gap: 20px;">
        <!-- Header Section -->
        <div style="display: flex; flex-direction: column; gap: 4px; width: 40%;" id="key">
          <span class="govuk-caption-m" style="color:white;">Alpha Heatpumps Limited (BUS1234567) </span>
          <h1 class="govuk-heading-l" style="color:white; margin: 0;">FA8 8KE <span
              style="font-weight: 100;">(GID12345678)</span></h1>
          <span class="govuk-body-s" style="color:white;">100 FAKE STREET, HEADINGTON, OXFORD, FK8 8KE</span>
        </div>

        <!-- Info Grid -->
        <div class="govuk-caption-m"
          style="display: flex; gap: 15px; align-items: flex-start; align-self: flex-end;" id="meta">
          <div style="display: flex; flex-direction: column; min-width: 80px;">
            <span style="color:white; font-size: 19px; font-weight: bold;">Project</span>
            <span style="color:white; font-size: 19px;">Retrofit</span>
          </div>
          <div style="display: flex; flex-direction: column;  min-width: 120px;">
            <span style="color:white; font-size: 19px; font-weight: bold;">Tech</span>
            <span style="color:white; font-size: 19px;">A2AHP & HB</span>
          </div>
          <div style="display: flex; flex-direction: column;  min-width: 120px;">
            <span style="color:white; font-size: 19px; font-weight: bold;">UPRN</span>
            <span style="color:white; font-size: 19px; text-decoration: none;">1002404174</span>
          </div>
          <div style="display: flex; flex-direction: column;  min-width: 250px;">
            <span style="color:white; font-size: 19px; font-weight: bold;">EPC</span>
            <span style="color:white; font-size: 19px; text-decoration: none;">2564-3048-0207-9125-3200</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Status Tags -->
    <div
      style="display: flex; gap: 10px; margin-top: 0px; margin-bottom: 10px; background:#FFFFFF; padding:20px; border: 1px solid #1d70b8;">
      <span class="govuk-tag govuk-tag--blue" style="text-transform: none; max-width: 200px;">(A) QC</span>
      <span class="govuk-tag govuk-tag--grey" style="text-transform: none; max-width: 200px;">TPO</span>
      <span class="govuk-tag govuk-tag--grey" style="text-transform: none; max-width: 200px;">METS</span>
      <span class="govuk-tag govuk-tag--green" style="text-transform: none; max-width: 200px;">Consent
        received</span>
      <span class="govuk-tag govuk-tag--grey" style="text-transform: none;">ID check: Pass</span>
      <span class="govuk-tag govuk-tag--grey" style="text-transform: none;">EPC check: Pass</span>
    </div>
  </div>
</div> 